.panel {
  margin: 0 auto;
  max-width: 600px;
  border-radius: 4px;
  border: 1px solid #ddd;

  &-heading {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }

  &-title {
    padding: 10px 5px;
  }

  &-body {
    padding: 10px 5px;
  }
}
