<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
<p
  [style.background-color]="getBackgroundColor()"
  [style.color]="'red'"
  (click)="showStyle = !showStyle"
>
  I'm stylish component!
</p>
